
<header class="w3-grey w3-padding">
	<div class="w3-bar w3-display-container">
		<h2 style="display: inline-block;">
			<object style="vertical-align: middle;height: 1.5em; width: 1.5em;" data="/assets/kastanie.svg?color=ab7f69" type="image/svg+xml"></object>
			<span class="w3-hide-small">
				Kastaniegård
			</span>
			<span>
				Trailer & Transport
			</span>
		</h2>
		<div class="w3-right vcenter" style="right: 0px;">
			<a class="w3-button w3-bar-item">Hjem</a>
			<a class="w3-button w3-bar-item">Udlejning</a>
			<!--a class="w3-button w3-right w3-bar-item">Fakta</a>
			<a class="w3-button w3-right w3-bar-item">Kontakt</a>
			<a class="w3-button w3-right w3-bar-item">Service</a>
			<a class="w3-button w3-right w3-bar-item">Hestetransport</a-->
		</div>
	</div>
</header>