<footer class="w3-black w3-padding-32 w3-center">
	<p>Kastaniegård Trailer og Transport</p>
	<p>
		<i class="fa fa-location-dot"></i>
		<a href="https://maps.app.goo.gl/vja1hK6fqW6rR64g9">
			Kvægholm 16, 4281 Gørlev, Danmark
		</a>
	</p>
	<p>
		<i class="fa fa-id-badge"></i>
		CVR 14495746
	</p>
	<p>
		<i class="fa fa-info"></i>
		Vognmandstilladelse. nr. 9647162
	</p>
	<p>
		<i class="fa fa-phone"></i>
		<a href="tel:23203381">+45 40410226</a>
	</p>
	<p>
		<i class="fa fa-envelope"></i>
		<a href="mailto:trailer@kstg.dk">trailer@kstg.dk</a>
	</p>
	<p>
		<i class="fa fa-copyright"></i>
		<a href="mailto:silas@kstg.dk">2024 Silas Pockendahl</a>
	</p>

</footer>

{{ component/editor.html }}