<a href="/"><button class="w3-button w3-hover-none w3-bar-item">Hjem</button></a>
<a href="/udlejning.html"><button class="w3-button w3-hover-none w3-bar-item">Udlejning</button></a>
<a href="/transport.html"><button class="w3-button w3-hover-none w3-bar-item">Hestetransport</button></a>
<a href="/service.html"><button class="w3-button w3-hover-none w3-bar-item">Trailer service</button></a>
<a href="/udlejning.html"><button class="w3-button w3-hover-none w3-bar-item">Trailer udlejning</button></a>
<a href="/om-os.html"><button class="w3-button w3-hover-none w3-bar-item">Om os</button></a>