<style>
#navbar {
	height: 120px;
	position: absolute;
	width: 100%;
	background-color: #ffffff80;
	transition: all 0.3s ease-out;
}
#navbar.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-dark);
	color: white;
}
.w3-dropdown-hover.w3-right .w3-dropdown-content {
	right: 0;
}

</style>

<div>
	<!--div id="navbar-backdrop" style="min-height: 120px;"-->
		<div id="navbar" class="w3-card-4">
			<div class="w3-bar w3-card-2">
				<a href="/index.html" class="w3-button w3-bar-item">Hjem</a>
				<div class="w3-dropdown-hover">
					<button class="w3-button">Vi tilbyder</button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<a href="/hesteskole.html" class="w3-button w3-bar-item">Hesteskole</a>
						<a href="/terapi.html" class="w3-button w3-bar-item">Terapi</a>
						<a href="/træning.html" class="w3-button w3-bar-item">Træning</a>
						<a href="/transport.html" class="w3-button w3-bar-item">Hestetransport</a>
					</div>
				</div>
				<div class="w3-dropdown-hover">
					<button class="w3-button">Distance</button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<!--a href="/distance-teamet.html" class="w3-button w3-bar-item">Hjælperteamet</a-->
						<a href="/distance-mentor.html" class="w3-button w3-bar-item">DRF mentor</a>
						<!--a href="/distance-resultater.html" class="w3-button w3-bar-item">Resultater</a-->
						<a href="/distance-træning.html" class="w3-button w3-bar-item">Træning</a>
					</div>
				</div>
				<!-- RIGHT -->
				<div class="w3-hide-small w3-dropdown-hover w3-right">
					<button class="w3-button">Om os</button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						{{ nav/about.html }}
					</div>
				</div>
				<div class="w3-hide-small w3-dropdown-hover w3-right">
					<button class="w3-button">Information</button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						{{ nav/info.html }}
					</div>
				</div>
				<!-- RIGHT SIDENAV BUTTON -->
				<button onclick="toggleSideNav()" class="w3-button w3-hide-medium w3-hide-large w3-right">MENU</button>
			</div>
			<div class="w3-cell-row w3-margin-left">
				<div class="w3-cell w3-cell-middle" style="overflow: hidden;white-space: nowrap;">
					<h1>
						<object style="vertical-align: middle;height: 1.5em; width: 1.5em;" data="/assets/kastanie.svg?color=32a852" type="image/svg+xml"></object>
						Kastaniegård<span class="w3-hide-small"> Endurance Team<span class="w3-hide-medium"> & Horse Team</span></span>
					</h1>
				</div>
			</div>
		</div>
	<!--/div-->
</div>

<script>

	let loc = decodeURI(document.location.pathname)
	if (loc == "/") loc = "/index.html"
	for (let el of document.querySelectorAll("#navbar a").values()) {
		if (loc == el.attributes.href.value) {
			el.classList.add("w3-green")
			while (el = el.parentElement) {
				if (el.classList.contains("w3-dropdown-hover")) {
					el.children[0].classList.add("w3-green")
				}
			}
			break
		}
	}

	const scrollHeader = document.getElementById("navbar")
	const offsetTop = scrollHeader.offsetTop
	addEventListener("scroll", () => {
		if (window.pageYOffset > offsetTop) {
			scrollHeader.classList.add("sticky")
		} else {
			scrollHeader.classList.remove("sticky")
		}
	})

</script>