<!DOCTYPE html>
<html lang="dk">
	{{ component/head.html }}
	<body>

		{{ component/header.html }}
		{{ component/menu.html }}
		{% f"""<div class="parallax {'big' if args.big else ''}" parallax-scale="4" style="background-image: url('https://9f530f7639.clvaw-cdnwnd.com/a470909b67f02e0297289554e1606271/200000647-c3314c3315/_SIP9328-web.webp?ph=9f530f7639');"></div>"""  %}

		<section>
			{% render(args.content) if args.content else "" %}
			{% args.content_str if args.content_str else "" %}
		</section>
		{{ component/footer.html }}
	</body>
</html>